
 @model TripNa_MVC.Models.OrderDetail

    @{
        ViewData["Title"] = "MemberCheckOut";
        Layout = "~/Views/Shared/_Layout.cshtml";


    var neworder = Model.Orders.FirstOrDefault();

    var cooupon = Model.MemberCoupons.ToList();


    string p = ".jpg";  
    var groupedOrders = Model.Orders.GroupBy(o => o.OrderId);
    var displayedSpotNames = new HashSet<string>();
    int spotCount = 0;
    int currentDay = 1; // 記錄當前天數
    bool isNewOrder = true; // 標記是否為新訂單
    string previousItineraryName = string.Empty; // 記錄上一個訂單的行程名稱
    var displayedDays = new HashSet<string>(); // 記錄已顯示過的天數
}



<head>
    <link rel="stylesheet" href="~/css/CheckOut.css"/> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
  <script src="path/to/your/payment.js"></script>
</head>


    <style>
    
    .nav-center {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    #標題 {
      background-color: #ffffff;
      height: 150px;
      line-height: 150px;
      width:100%;
    }

    .card-input {
      width: 60px;
      display: inline-block;
      margin-right: 5px;
      text-align: center;
    }



    
.popup-wrap {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  content: '';
  background: rgba(0, 0, 0, 0.85);
}

.popup-box {
  width: 50%;
  padding: 50px 75px;
  transform: translate(-50%, -50%) scale(0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background: #fff;
}

h2 {
  font-size: 60px;
  text-align: left;
  margin-bottom: 50px;
  color: #1a1a1a;
}

h3 {
  font-size: 35px;
  color: #888;
  text-align: center;

}

.close-btn {
  width: 65px;
  height: 65px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background: #d75f70;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  text-align: center;

}

.transform-in, .transform-out {
  display: block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.transform-in {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.transform-out {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
}

  </style>




<!-- 標題 -->
<div class="nav-center" id="標題" style="color: #eef1ff; background-color: #4e5482; font-size: 24px;">
    訂單確認
</div>



<br>


<!-- 訂單資訊 -->
<div style="width: 50%; margin: 0 auto">
    <div class="d-flex row justify-content-center m-3 p-3 bg-light rounded shadow text-center">


         <table id="listtable" class="table table-striped table-hover">

                <thead>
                    <tr id="trTitle">
                        <th class="text-center" style="width:150px">
                            產品名稱
                        </th>
                        <th class="text-center">
                            地區
                        </th>
                        <th class="text-center">
                            出發日期
                        </th>
                        <th class="text-center">
                            天數
                        </th>
                        <th class="text-center">
                            人數
                        </th>                      
                    </tr>
                </thead>


                <tbody>
                  @*   @foreach (var order in Model.Orders)
                    { *@
                        <tr id="trContent align-middle">
                       
                            
                        <td class="text-center align-middle" width="100px">                           
                                @neworder.Itinerary.ItineraryName
                        </td>

                       
                        <td class="text-center align-middle" width="100px">
                                @neworder.Spots.SpotCity
                        </td>


                            <td class="text-center align-middle" width="100px">
                                @(neworder.ItineraryDetail.ItineraryDate.ToString("yyyy/MM/dd"))
                        </td>
              
                     @{
                            if (@neworder.Itinerary.ItineraryName.Substring(2, 3) == "一日遊")
                            { 
                            <td class="text-center align-middle" width="100px">                          
                            1
                             </td>
                           }  

                             else if (@neworder.Itinerary.ItineraryName.Substring(2, 3) == "二日遊")
                            { 
                            <td class="text-center align-middle" width="100px">                          
                            2
                             </td>
                           }  

                            else if (@neworder.Itinerary.ItineraryName.Substring(2, 3) == "三日遊")
                            { 
                            <td class="text-center align-middle" width="100px">                          
                            3
                             </td>
                           }  
                     }

                            <td class="text-center align-middle" width="100px">
                                @neworder.Itinerary.ItineraryPeopleNo
                        </td>

                           
                    </tr>
                   


                          @foreach (var order in Model.Orders)
            {
                             if (isNewOrder || order.Itinerary.ItineraryName != previousItineraryName)
                             {
                                 currentDay = 1;
                                 isNewOrder = false;
                                 previousItineraryName = order.Itinerary.ItineraryName;
                                 displayedDays.Clear(); // 清空已顯示過的天數
                             }
                            
                             string dayString = $"Day {currentDay}"; // 構造當前天數字符串
                           
                            if (@neworder.Itinerary.ItineraryName.Substring(2, 3) == "一日遊")
                            {
                                if (spotCount % 4 == 0)
                             {
                                 @:</tr><tr>
                                 if (!displayedDays.Contains(dayString))
                                 {
                                     @:<td class="align-middle text-center">@dayString</td>
                                     displayedDays.Add(dayString);
                                 }
                             }
                                  spotCount++;

                                @if (!displayedSpotNames.Contains(order.Spots.SpotName))
                                {
                                   <td class="text-center  align-middle  ">
                                    <br>
                                    <img src="~/景點圖片/@order.Spots.SpotCity/@order.Spots.SpotName@p" height="100px " width="100px">
                                    <br>
                                    <p>@order.Spots.SpotName</p>
                                    </td>                         
                                    displayedSpotNames.Add(order.Spots.SpotName);
                                }




                            }
                            else if (@neworder.Itinerary.ItineraryName.Substring(2, 3) == "二日遊")
                            {
                                 if (spotCount % 4 == 0)
                              {
                                  @:</tr><tr>
                                  if (!displayedDays.Contains(dayString))
                                  {
                                      @:<td  class="align-middle text-center">@dayString</td>
                                      displayedDays.Add(dayString);
                                  }
                                  currentDay++;
                              }
                                  spotCount++;

                                 @if (!displayedSpotNames.Contains(order.Spots.SpotName))
                                {
                                   <td class="text-center  align-middle  ">
                                    <br>
                                    <img src="~/景點圖片/@order.Spots.SpotCity/@order.Spots.SpotName@p" height="100px " width="100px">
                                    <br>
                                    <p>@order.Spots.SpotName</p>
                                    </td>                         
                                    displayedSpotNames.Add(order.Spots.SpotName);
                                }
                            }
                            else if (@neworder.Itinerary.ItineraryName.Substring(2, 3) == "三日遊")
                            {
                             if (spotCount % 4 == 0)
                              {
                                  @:</tr><tr>
                                  if (!displayedDays.Contains(dayString))
                                  {
                                      @:<td  class="align-middle text-center">@dayString</td>
                                      displayedDays.Add(dayString);
                                  }
                                  currentDay++;
                              }
                                  spotCount++;

                                @if (!displayedSpotNames.Contains(order.Spots.SpotName))
                                {
                                   <td class="text-center  align-middle  ">
                                    <br>
                                    <img src="~/景點圖片/@order.Spots.SpotCity/@order.Spots.SpotName@p" height="100px " width="100px">
                                    <br>
                                    <p>@order.Spots.SpotName</p>
                                    </td>                         
                                    displayedSpotNames.Add(order.Spots.SpotName);
                                }
                            }
            }

                </tbody>
            </table>





        <span class=" text-start" style="padding-right:18px;">
            使用優惠券

            <input type="text" id="couponInput"  placeholder="輸入折扣碼">

            <input type="button" id="useCouponBtn" value="使用" class="btn" style="background-color: #4e5482 ;color: #e8eafe;">
        </span>

        <a class=" popup-btn text-start"style="text-decoration: none;" href="#letmeopen">查看優惠券</a>
          


        <div class="popup-wrap" id="letmeopen">
        <div class="popup-box transform-out">
          <h2>選擇優惠券</h2>


          
@foreach ( var c in cooupon)
{
    <h3 class="text-center" style="color: #4e5482;">
            優惠碼: <span>@c.CouponCode</span>
     <span class="bi bi-clipboard" id="copyimg" onclick="copyCode(this)" style="cursor: pointer;"></span>        
    
    </h3>

      <h3 class="text-center" style="color: #4e5482;">期限:@c.CouponDueDate</h3>

          }

          <a class="close-btn popup-close" href="#">x</a>

        </div>
      </div>

        <br>
        <br>

        <hr>

        <br>
       <span class="text-end" style="padding-right:18px;">
    訂單小計 NT$<span id="subtotal">@neworder.OrderTotalPrice.ToString("N0")</span> 
    -優惠券 NT$<span id="discountAmount">0</span> = 總額 NT$
    <span id="totalAmount" style="color: #c20d0d;">@neworder.OrderTotalPrice.ToString("N0")</span>
</span>
    </div>
</div>


@{
   var price = (int)Math.Floor(neworder.OrderTotalPrice);
}
      <form id="paymentForm" action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5" method="post">
         
        
                <input type="text" name="MerchantID" value="3002607">
               <input type="text" name="MerchantTradeNo" value="ecpay20230312153023">
               <input type="text" name="MerchantTradeDate" id="orderTime" value="2023/03/12 15:30:23">
               <input type="text" name="PaymentType" value="aio">
               <input type="text" name="TotalAmount" id="totalAmountInput" value="">
               <input type="text" name="TradeDesc" value="促銷方案">
               <input type="text" name="ItemName" value="Apple iphone 15">
               <input type="text" name="ReturnURL" value="https://www.ecpay.com.tw/receive.php">
               <input type="text" name="ChoosePayment" value="ALL">
               <input type="text" name="EncryptType" value="1"> 
               <input type="text" name="CheckMacValue" value="">

             <input type="submit" value="結帳" id="submit" style="display:none;">

</form> 
 
  @*  <input type="hidden" name="MerchantID" value="3002607">
             <input type="hidden" name="MerchantTradeNo" value="@neworder.OrderNumber">
             <input type="hidden" name="MerchantTradeDate"  id="orderTime"  value="@neworder.OrderDate.ToString("yyyy/MM/dd HH:mm:ss")">
             <input type="hidden" name="PaymentType" value="aio">
             <input type="hidden" name="TotalAmount id="totalAmountInput"  value="price">
             <input type="hidden" name="ItemName" value="TAIPEI">
             <input type="hidden" name="ReturnURL" value="http://localhost:5226/members/MemberCheckOut">
             <input type="hidden" name="ChoosePayment" value="ALL">
             <input type="hidden" name="CheckMacValue" value="3002607">
             <input type="hidden" name="EncryptType" value="1">  *@
         
             @* <input type="text" name="MerchantID" value="3002607">
             <input type="text" name="MerchantTradeNo" value="@neworder.OrderNumber">
             <input type="text" name="MerchantTradeDate"  id="orderTime"  value="@neworder.OrderDate.ToString("yyyy/MM/dd HH:mm:ss")">
             <input type="text" name="PaymentType" value="aio">
             <input type="text" name="TotalAmount id="totalAmountInput"  value="@price">
             <input type="text" name="ItemName" value="TAIPEI">
             <input type="text" name="ReturnURL" value="http://localhost:5226/members/MemberCheckOut">
             <input type="text" name="ChoosePayment" value="ALL">
             <input type="text" name="CheckMacValue" value="3002607">
             <input type="text" name="EncryptType" value="1"> *@


</div>

<div class="d-flex justify-content-center">
    <button  type="button" class="btn  mb-5" id="confirmOrder" style="background-color: #4e5482 ;color: #e8eafe;">結帳去→</button>
</div>


<script>

     //點擊優惠碼的彈跳視窗
    $(".popup-btn").click(function() {
      var href = $(this).attr("href")
      $(href).fadeIn(250);
      $(href).children$("popup-box").removeClass("transform-out").addClass("transform-in");
      e.preventDefault();
    });
    
    $(".popup-close").click(function() {
      closeWindow();
    });

    function closeWindow(){
      $(".popup-wrap").fadeOut(200);
      $(".popup-box").removeClass("transform-in").addClass("transform-out");
      event.preventDefault();
    }


    //點擊ICON複製優惠碼
    function copyCode(element) {
      var couponCode = element.previousElementSibling.innerText; // 獲取優惠碼
      navigator.clipboard.writeText(couponCode); // 將優惠碼複製到剪貼板
      element.classList.remove("bi-clipboard"); // 刪除 clipboard 圖標 class
      element.classList.add("bi-check2"); // 添加 check2 圖標 class
  }


  //確認優惠券是該用戶資料庫中的資料
  $(document).ready(function() {
        $('#useCouponBtn').click(function() {
            var couponCode = $('#couponInput').val();
            var memberId = @Model.MemberId; 
            var orderTotal = parseFloat($('#subtotal').text().replace(/,/g, ''));

            $.ajax({
                url: '@Url.Action("ValidateCoupon", "Members")', 
                type: 'POST',
                data: { couponCode: couponCode, memberId: memberId, orderTotal: orderTotal },
                success: function(response) {
                    if (response.isValid) {
                        $('#discountAmount').text(response.discountAmount);
                        var newTotal = orderTotal - response.discountAmount;
                        $('#totalAmount').text(newTotal.toLocaleString('en-US'));
                    } else {
                        alert('無效的優惠券代碼');
                    }
                },
                error: function() {
                    alert('驗證優惠券時發生錯誤');
                }
            });
        });
    });


    document.addEventListener('DOMContentLoaded', function() {

    var form = document.getElementById('paymentForm');
    var merchantTradeNo = 'Test' + new Date().getTime();
    var merchantTradeDate = formatDate(new Date());
     var totalAmountSpan = document.getElementById('totalAmount');
     var totalAmountInput = document.getElementById('totalAmountInput');

           // 將 totalAmount 中的值傳換為整數 並設置到 totalAmountInput 中
           var totalAmount = parseInt(totalAmountSpan.textContent.replace(/[^\d]/g, ''), 10);
           if (!isNaN(totalAmount)) {
               totalAmountInput.value = totalAmount;
           } else {
               console.error('無效的總金額:', totalAmountSpan.textContent);
           }



    // 設置動態欄位
    form.elements['MerchantTradeNo'].value = merchantTradeNo;
    form.elements['MerchantTradeDate'].value = merchantTradeDate;

    // 準備參數
    var params = {
        MerchantID: form.elements['MerchantID'].value,
        MerchantTradeNo: merchantTradeNo,
        MerchantTradeDate: merchantTradeDate,
        PaymentType: form.elements['PaymentType'].value,
        TotalAmount: form.elements['TotalAmount'].value,
        TradeDesc: form.elements['TradeDesc'].value,
        ItemName: form.elements['ItemName'].value,
        ReturnURL: form.elements['ReturnURL'].value,
        ChoosePayment: form.elements['ChoosePayment'].value,
        EncryptType: form.elements['EncryptType'].value
    };

    var hashKey = '5294y06JbISpM5x9'; 
    var hashIV = 'v77hoKGq4kWxNNIS';  

    // 生成 CheckMacValue
    var checkMacValue = generateCheckMacValue(params, hashKey, hashIV);
    form.elements['CheckMacValue'].value = checkMacValue;
     params.CheckMacValue = checkMacValue;

    console.log('表單已準備完成，CheckMacValue:', checkMacValue);

});

   // 格式化日期為 'yyyy/MM/dd HH:mm:ss'
    function formatDate(date) {
    var year = date.getFullYear();
    var month = (date.getMonth() + 1).toString().padStart(2, '0');
    var day = date.getDate().toString().padStart(2, '0');
    var hours = date.getHours().toString().padStart(2, '0');
    var minutes = date.getMinutes().toString().padStart(2, '0');
    var seconds = date.getSeconds().toString().padStart(2, '0');

    return `${year}/${month}/${day} ${hours}:${minutes}:${seconds}`;
}

    // 產生 CheckMacValue
    function generateCheckMacValue(params, hashKey, hashIV) {
    // 參數按照字母順序排序
    var sortedParams = Object.keys(params).sort().reduce((obj, key) => {
        obj[key] = params[key];
        return obj;
    }, {});

    // 組合字串
    var checkStr = 'HashKey=' + hashKey;
    Object.keys(sortedParams).forEach(function(key) {
        checkStr += '&' + key + '=' + sortedParams[key];
    });
    checkStr += '&HashIV=' + hashIV;

    // URL Encode
    checkStr = encodeURIComponent(checkStr).toLowerCase();

    // 取代為與 .NET 相容的字元
    checkStr = checkStr
        .replace(/%2d/g, '-')
        .replace(/%5f/g, '_')
        .replace(/%2e/g, '.')
        .replace(/%21/g, '!')
        .replace(/%2a/g, '*')
        .replace(/%28/g, '(')
        .replace(/%29/g, ')')
        .replace(/%20/g, '+');

    // 使用 SHA256 加密
    var hash = CryptoJS.SHA256(checkStr).toString().toUpperCase();
    return hash;
}


    // 綁定送出按鈕事件
    document.getElementById('confirmOrder').addEventListener('click', function(e) {
    var form = document.getElementById('paymentForm');
    var totalAmountSpan = document.getElementById('totalAmount');
    var totalAmountInput = document.getElementById('totalAmountInput');

           // 將 totalAmount 中的值傳換為整數 並設置到 totalAmountInput 中
        var totalAmount = parseInt(totalAmountSpan.textContent.replace(/[^\d]/g, ''), 10);
        if (!isNaN(totalAmount)) {
            totalAmountInput.value = totalAmount;
        } else {
            console.error('無效的總金額:', totalAmountSpan.textContent);
            alert('無效的總金額');
            return;
        }
        // 檢查金額是否有變化，如果有變化則更新
        var currentTotalAmount = parseInt(totalAmountInput.value, 10);
        if (totalAmount !== currentTotalAmount) {
            totalAmountInput.value = totalAmount;
            console.log('金額已更新:', totalAmount);
        }

    // 送出前再次檢查所有欄位
    console.log('正在提交表單，參數如下：');

    Array.from(form.elements).forEach(function(element) {
        if (element.name) {
            console.log(element.name + ': ' + element.value);
        }
    });

    // 提交表單
       $('#paymentForm').submit();
    });


    //按下按鈕 轉跳至綠界
    document.getElementById("confirmOrder").addEventListener("click", function () {
        document.getElementById("submit").click();

    });



</script>