@model TripNa_MVC.Models.Spot

@{
    ViewData["Title"] = "Delete";
}


<div style="width:90%;margin:10rem auto; background-color:white;padding:30px;">
<h3>確定要刪除此景點?</h3>
<div>
      <hr class="full-width-hr" />
    <dl class="row">
        <dt class = "col-sm-2">
            景點名稱
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpotName)
        </dd>
        <dt class = "col-sm-2">
            城市
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpotCity)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.SpotBrief) *@
            景點簡介
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpotBrief)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.SpotIntro) *@
            詳細介紹
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpotIntro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SpotId" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
            <a asp-action="Index" style="color:steelblue;text-decoration:none;">回到景點管理</a>
    </form>
</div>
</div>