@model TripNa_MVC.Models.Spot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpotCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpotCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpotBrief)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpotBrief)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpotIntro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpotIntro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SpotId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
