@using Microsoft.EntityFrameworkCore
@model IEnumerable<TripNa_MVC.Models.Guider>
@{
    ViewData["Title"] = "TouristGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <!--自訂-->
    <link rel="stylesheet" href="~/css/Privacy.css">
</head>
@functions {
    public static string CalculateExperience(DateOnly startDate)
    {
        DateTime currentDate = DateTime.Now;
        TimeOnly timePart = TimeOnly.MinValue;
        DateTime dateTime = startDate.ToDateTime(timePart);
        TimeSpan experience = currentDate - dateTime;
        int years = experience.Days / 365;
        int months = (experience.Days % 365) / 30;
        if (years > 0)
        {
            return $"{years}年";
        }
        else if (months > 0)
        {
            return $"{months}個月";
        }
        else
        {
            return "新手導遊";
        }
    }
}

<style>
    #fixedButton {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 1000;
        width: 150px;
        background-color: #4e5482;
        color: #e8eafe;
    }
</style>
<div class="nav-center" id="標題" style="color:#e3e5f4; background-color:#4e5482; font-size: 36px; margin-top: 5%;">
    我們為您推薦的導遊
</div>
<div class="row">
    <div class="col-4"></div>
    <p class="col-4 text-center">搜尋結果共有 @ViewBag.GuiderCount 筆</p>
    <div class="col-4"></div>
</div>
<div class="row justify-content-center" style="width: 100%;" id="select">
    <div class="col-auto">
        <select class="form-select" id="gender" onchange="filterGuiders()">
            <option value="" disabled selected hidden>性別不限</option>
            <option value="男生">男生</option>
            <option value="女生">女生</option>
            <option value="">不限</option>
        </select>
    </div>
    <!-- 評價 -->
    <div class="col-auto">
        <select class="form-select" id="rating" onchange="filterGuiders()">
            <option value="" disabled selected hidden>評價不限</option>
            <option value="5">5星</option>
            <option value="4">4星</option>
            <option value="3">3星</option>
            <option value="">不限</option>
        </select>
    </div>
    <!-- 服務經驗 -->
    <div class="col-auto">
        <select class="form-select" id="experience" onchange="filterGuiders()">
            <option value="" disabled selected hidden>服務年資不限</option>
            <option value="0">0年 (新手導遊)</option>
            <option value="1">1年</option>
            <option value="2">2年</option>
            <option value="3">3年</option>
            <option value="4">4年</option>
            <option value="5">5年以上</option>
            <option value="">不限</option>
        </select>
    </div>
</div>
<br>

<div id="card-container">
    @foreach (var guider in Model)
    {
        string imgPath = "~/導遊/大頭照/" + guider.GuiderNickname + ".jpg";
       @*  <div style="width: 60%; margin: 0 auto" id="card">
            <div class="d-flex row justify-content-center m-3 p-3 bg-light rounded shadow position-relative" style="align-items: center;">
                <img src="~/導遊/大頭照/YOOOOOOOOOOOOOOOO.jpg" alt="@guider.GuiderId" class="card-img-top rounded shadow" style="height: 100%; width: 150px;">
                <img src="@Url.Content(imgPath)" alt="@guider.GuiderId" class="card-img-top rounded shadow" style="height: 100%; width: 150px;">
                <p class="card-text col-7"> *@
        <div style="width: 60%; margin: 0 auto;" id="card">
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 1rem; padding: 1rem; background-color: #f8f9fa; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); position: relative;">
                <img src="@Url.Content(imgPath)" alt="@guider.GuiderId" style="height: auto; width: 150px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: transform 0.2s, box-shadow 0.2s; cursor: pointer;" onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 8px 12px rgba(0, 0, 0, 0.2)';" onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.1)';">
                <p style="margin-left: 1rem;" class="card-text col-7">
                    姓名:@guider.GuiderNickname<br>
                    性別:@guider.GuiderGender<br>
                    服務年資:@CalculateExperience(guider.GuiderStartDate)<br>
                    評價:@(guider.GuiderRating.HasValue ? guider.GuiderRating.Value.ToString("F2") : "尚無評價")<br>
                    地區:@guider.GuiderArea<br>
                    簡介:@guider.GuiderIntro<br>
                </p>

                <input type="checkbox" style="margin: 0.5rem; padding: 0.5rem; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); position: absolute; bottom: 0; right: 0;" class="form-check-input" onclick="selectGuider('@guider.GuiderId', this.checked, '@guider.GuiderNickname')">
                @* <input type="checkbox" class="form-check-input m-2 p-2 rounded shadow position-absolute bottom-0 end-0" id="selectGuider" onclick="selectGuider('@guider.GuiderId', this.checked)"> *@
            </div>
        </div>
    }
</div>
<br>
<div class="row justify-content-center m-3">
    <div class="col-8"></div>



    <a class="btn  btn-primary col-1 text-center rounded shadow m-3" onclick="submitSelectedGuiders()" asp-area="" asp-controller="Members" asp-action="MemberCheckOut"
       style="width: 150px; background-color: #4e5482 ;color: #e8eafe;">下單去</a>


	</div>
<br>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        
        var selectedGender = '@ViewBag.SelectedGender';
        var selectedRating = '@ViewBag.SelectedRating';
        var selectedExperience = '@ViewBag.SelectedExperience';
        
        if (selectedGender) {
            console.log(selectedGender);
            document.getElementById("gender").value = selectedGender;
        }
        if (selectedRating) {
            console.log(selectedRating);
            document.getElementById("rating").value = selectedRating;
        }
        if (selectedExperience) {
            console.log(selectedExperience);
            document.getElementById("experience").value = selectedExperience;
        }
    });
    // 篩選
    var url = "@Url.Action("TouristGuide", "Home")";
    function filterGuiders() {
        var gender = document.getElementById("gender").value;
        var rating = document.getElementById("rating").value;
        var experience = document.getElementById("experience").value;
        var params = [];
        if (gender) {
            params.push("gender=" + gender);
        }
        if (rating) {
            params.push("rating=" + rating);
        }
        if (experience) {
            params.push("experience=" + experience);
        }
        if (params.length > 0) {
            url += "?" + params.join("&");
        }
        window.location.href = url;
    }

    var selectedGuiderIds = [];
    var guiderInfo = "";

    function selectGuider(guiderId, isChecked, guiderNickname) {
        if (isChecked) {
            selectedGuiderIds.push(guiderId);
            guiderInfo += guiderNickname + '\n';
        } else {
            selectedGuiderIds = selectedGuiderIds.filter(id => id !== guiderId);
        }
        console.log("Selected Guider Ids:", selectedGuiderIds);
        
    }

    function submitSelectedGuiders() {

        $.ajax({
            url: ("/Home/SubmitSelectedGuiders"),
            type: 'POST',
            data: {
                guiderIds: selectedGuiderIds
            },
            success: function (response) {
                console.log('Successfully updated guider selection.');
                alert('您選擇的導遊為:\n'+ guiderInfo);
            },
            error: function (xhr, status, error) {
                console.error('Error updating guider selection:', error);
            }
        });

        
    }

    window.onscroll = function () {
        adjustButtonPosition();
    };
    

    window.onscroll = function () {
        var button = document.getElementById("fixedButton");
        var scrollPosition = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
        var windowHeight = window.innerHeight;
        var documentHeight = document.body.scrollHeight;
        var offset = 100; // 距離底部多少時開始跟隨滾動

        if (documentHeight - (scrollPosition + windowHeight) < offset) {
            button.style.position = "absolute";
            button.style.bottom = offset + "px";
        } else {
            button.style.position = "fixed";
            button.style.bottom = "10px";
        }
    };

</script>