@model TripNa_MVC.Models.Guider

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Guider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuiderNickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuiderNickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuiderGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuiderGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuiderArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuiderArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuiderStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuiderStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuiderIntro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuiderIntro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GuiderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
