@model IEnumerable<TripNa_MVC.Models.guidermemberlist>

@{
    ViewData["Title"] = "GuiderCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string p = ".jpg";
    string n = ".png";

}

<style>

    #GuiderData {
        background-color: whitesmoke;
        border: 4px solid whitesmoke;
        padding-top: 45px;
        padding-left: 25px;
        padding-bottom: 60px;
        margin-bottom: 46px;
        width: 80%;
        box-shadow: 0px 10px 5px -2px rgba(0,0,0,0.4);
        border-radius: 10px;
        /* margin-left: 105px; */
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        display: flex;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-section {
        flex: 2;
        padding-left: 20px;
    }

    #pic{
        width: 80%;
        border-radius: 10px;
        background-color: #e8eafe;
        box-shadow: 0px 10px 5px -2px rgba(0,0,0,0.4);
        /* text-align:center; */
    }

    #pic > img {
        height:70%;
        width:85%;
        object-fit: cover;
    }

</style>

<br>
<br>

<div class="container" style="background-color: lavender;">
    <br>
    <br>
    <div>
        <h1 class="text-center">TripNa Guider Member Center</h1>

        <h3 id="title" class="text-center">導遊會員中心</h3>
    </div>



    <br>

    <div id="topIcon" class="row">

        <div class="col-sm-2 text-center"></div>

        <div class="col-sm-8 text-center">
            <a asp-area="" asp-controller="Guiders" asp-action="GuiderMatchDetails"><img src="~/_img/png/match.png" alt=""></a>
            <a asp-area="" asp-controller="Guiders" asp-action="GuiderOrder"><img src="~/_img/png/myorder.png" alt=""></a>
            <a asp-area="" asp-controller="Guiders" asp-action="GuiderCenter"><img src="~/_img/png/click_mydata.png" alt=""></a>
            <a asp-area="" asp-controller="Members" asp-action="MemberCenter"><img src="~/_img/membercenter.png" alt=""></a>
        </div>


        <div class="col-sm-2 text-center"></div>

    </div>

    <br>

    <hr style='background-color:#3A326D; height:1px; border:none;'>


    <br>
    <br>
    <br>
   


    <div class="text-end" style="margin-right:30px">
        <a asp-action="Guiderintroduce" asp-controller="Guiders" style="text-decoration: none;">
            <span class="bi bi-eye" style="color: #545454; font-size: 18px;"></span>
            <span style="color: #4e5482 ">檢視自介</span>
        </a>
    </div>


    <form method="post" asp-action="GuiderCenter" enctype="multipart/form-data" asp-controller="Guiders">

        <div class="row" id="GuiderData">

           @*  <div class="col-sm-2">
            </div> *@

            <div class="col-sm-5 text-center left-section">
                <div class="content-wrapper">

                @foreach (var item in Model)
                {
                    <img id="display_img" src="~/導遊/大頭照/@item.Guider.GuiderArea/@item.Guider.GuiderNickname@p" style="border-radius: 50%;object-fit: cover;" height="190px " width="190px">


                    <label class="btn" style="background-color: #4e5482 ;color: #e8eafe; margin-top:10px">
                        <input id="upload_img" style="display:none;" type="file" name="guiderImage">
                        <i class="fa fa-photo"></i> 上傳圖片
                    </label>

                }

                <br>
            


                @foreach (var item in Model)
                {
                    <div id="pic" class="text-center">


                        <b style="font-size: 18px;">導遊證</b>
                        <br>

                        <img src="~/導遊/證照/領隊@(item.Guider.GuiderGender == "F" ? "女" : "男")@n" >

                        <br>
                        <br>

                    </div>

                }
            </div>
            </div>

            <div class="col-sm-7 right-section">

                @foreach (var item in Model)
                {

                    <div style='padding-top:10px; padding-left:10px; padding-bottom:10px;'>

                        <label for="GuiderNickname">暱稱</label>
                        <br>

                        <input type="text" id="TouristGuideName" name="GuiderNickname" value="@item.Guider.GuiderNickname" style="resize:none; height: 30px ; width:90%;" />

                        <br>

                        <label for="GuiderStartDate">服務起始日</label>

                        <br>

                        <input type="text" id="ServerDate" name="GuiderStartDate" style="resize:none; height: 30px ; width:90% ;" value="@item.Guider.GuiderStartDate.ToString("yyyy/MM/dd") " disabled="disabled" />

                        <br>

                        <label for="GuiderArea">地區</label>
                        <br>
                        <input type="radio" name="GuiderArea" value="北部地區" @(item.Guider.GuiderArea == "北部地區" ? "checked" : "")>北部
                        <input type="radio" name="GuiderArea" value="中部地區" @(item.Guider.GuiderArea == "中部地區" ? "checked" : "")>中部
                        <input type="radio" name="GuiderArea" value="南部地區" @(item.Guider.GuiderArea == "南部地區" ? "checked" : "")>南部
                        <input type="radio" name="GuiderArea" value="東部地區" @(item.Guider.GuiderArea == "東部地區" ? "checked" : "")>東部
                        <input type="radio" name="GuiderArea" value="離島地區" @(item.Guider.GuiderArea == "離島地區" ? "checked" : "")>離島

                        <br>
                        <label for="Gender">性別</label>
                        <br>
                        <input type="text" id="Gender" name="Gender" style="resize:none; height: 30px ; width:90% ;" disabled="disabled" value="@(item.Guider.GuiderGender=="F"? "女":"男")">

                        <br>

                        <label for="GuiderIntro">自我介紹</label>
                        <br>

                        <textarea id="Introduce" name="GuiderIntro" style="resize:none; height: 250px; width:90% ;">@item.Guider.GuiderIntro</textarea>
                        <br>
                        <br>

                    </div>
                }

            </div>

            <div class="text-center">
                <button id="submitBtn" class="btn" style="background-color: #4e5482 ;color: #e8eafe;">完成修改並儲存✓</button>
            </div>
        </div>
    </form>
     
    <br>
    <br>

</div>
    <br>
    <br>
    <br>
    <br>
    <br>


    <script>

        document.getElementById('upload_img').addEventListener('change', function (event) {
            var file = event.target.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('display_img').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });


        document.querySelector("form").addEventListener("submit", function (event) {


            alert("修改成功！");

        });


    </script>
